# Ignore everything
*

# Exceptions
!.gitignore
!cw_recruitment.gpg
!Makefile
!Makefile
!README.md
!working_folder/
!working_folder/*.py

# Publish folder
!publish_folder/
publish_folder/*
!publish_folder/*.gpg
